@import "../../mixins";

.projects{
    .heading{
        @include d-flex(row, space-between,center);
        width: 100%;
    }
    *{
        color: var(--text-color1);
    }
}

.add-project{
    width: 500px;
    max-width: 100%;
    @include d-flex(column, flex-start,center);
    gap: 1rem;
    *{
        color: var(--text-color1);
    }
}

.editProject{
    width: 300px;
    padding-bottom: 20px;
    padding-top: 20px;
    @include d-flex(column, flex-start,center);
    gap: 1rem;
    *{
        color: var(--text-color1);
    }
}