@import "../../mixins";
.sidebar {
  @include d-flex(column, flex-start, center);
  color: #fff;
  background-color: rgb(52, 51, 51);
  width: 240px;
  flex-grow: 1;

  .head {
    height: 60px;
    width: 90%;
    @include d-flex(column, center, center);
  }
  hr {
    color: #fff;
    width: 100%;
  }

  .menu {
    padding: 10px 0;
    width: 100%;

    ul {
      li a {
        color: #fff;
        cursor: pointer;
        @include d-flex(row, flex-start, center);
        padding: 5px 10px;
      }
    }
  }
}

@media (max-width: 960px) {
  .sidebar {
    left: -240px;
    position: fixed;
    z-index: 100;
    transition: all 0.3s ease-in-out;
    height: 100vh;

    &.open {
      left: 0;
    }
  }
}
