@import "../../mixins";


.signIn{
    width: 300px;
    max-width: 100%;
    @include d-flex(column, flex-start,center);
    gap: 1rem;
    *{
        color: var(--text-color1);
    }
    border: 1px solid black;
    border-radius: 5%;
}

