@import "../../mixins";

.tickets {
  .heading {
    @include d-flex(row, space-between, center);
    width: 100%;
  }
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 10px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.add-ticket {
  width: 300px;
  max-width: 100%;
  @include d-flex(column, flex-start, center);
  gap: 1rem;
  * {
    color: var(--text-color1);
  }
  padding-bottom: 20px;
}

@media (max-width: 960px) {
  .tickets {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-row-gap: 30px;
  }
}
