@import "../../mixins";

.tickets{
    .heading{
        @include d-flex(row, space-between,center);
        width: 100%;
    }
    @include d-flex(column,center,center);
    gap: 1rem;

    .row{
        display: grid;
        grid-template-columns: auto auto;
        width: 100%;
        grid-column-gap: 20px;
    }
}

.add-ticket{
    width: 300px;
    max-width: 100%;
    @include d-flex(column, flex-start,center);
    gap: 1rem;
    *{
        color: var(--text-color1);
    }
}

